{{- $scope := index . 0 -}}
{{- $inline := index . 1 | default false -}}
{{- $width := index . 2 | default 500 -}}

{{- with $scope.Site.Params.Salonized -}}
	{{- $color := .Color -}}
	{{- $companyId := .CompanyId -}}

	{{- if $inline -}}
		<noscript>{{- T "mods.salonized.bookings.no_script" $scope -}}</noscript>
	{{- end -}}


	<div
		class="salonized-booking"
		data-company="{{- $companyId -}}"
		data-language="{{- $scope.Site.Language -}}"
		data-inline="{{- $inline -}}"
		data-color="{{- $color -}}"
		data-width="{{- $width -}}"
	></div>
{{- end -}}
