{{- $scope := index . 0 -}}
{{- $inline := index . 1 | default false -}}

{{- with $scope.Site.Params.Salonized -}}
	{{- $color := .Color -}}
	{{- $companyId := .CompanyId -}}
	{{- $width := 240 -}}

	{{- if $inline -}}
		<noscript>{{- T "mods.salonized.bookings.no_script" $scope -}}</noscript>
	{{- end -}}


	<div
		class="salonized-booking"
		data-company="{{- .company_id -}}"
		data-language="{{- $scope.Site.Language -}}"
		data-inline="{{- $inline -}}"
		data-width="{{- $width -}}"
		data-color="{{- $color -}}"
	></div>
{{- end -}}
